.content-container {
  position: absolute;
  top: 0rem;
  right: -25rem;
  width: 100%;
  height: 100%; }

.back-clouds {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 25rem !important;
  right: 32rem !important;
  transform: scale(1.65); }

.front-clouds {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0rem !important;
  right: 20rem !important;
  z-index: 10; }

.margin-0 {
  margin: 0rem !important; }

.right-0 {
  right: 0 !important; }

.astro-moon {
  background-image: url(../../img/spiral.png);
  background-size: cover;
  background-blend-mode: screen;
  background-position: center;
  border-radius: 27.5rem;
  background-size: 75rem;
  background-repeat: no-repeat;
  position: relative;
  height: inherit;
  z-index: 5;
  transform: scale(1.3);
  margin-bottom: 8rem;
  animation-name: spin;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  top: 4rem; }

.rocket {
  position: absolute;
  top: 0;
  width: 40rem;
  right: 10rem;
  animation-name: rocket-motion;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.plannets-outline {
  background-image: url(../../img/planets-outline.png);
  position: fixed;
  left: 0rem;
  top: 0rem;
  width: 14rem;
  height: 83rem;
  transform: scale(0.5);
  background-position: -20rem; }

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem; }
