/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* Add a class to hide the current page content during the transition */
.leave-from-top {
  animation: slide-leave-from-top 0.2s ease-out; }

.leave-from-bottom {
  animation: slide-leave-from-bottom 0.2s ease-out; }

.hide {
  visibility: hidden;
  opacity: 0;
  display: none; }

.enter-from-bottom {
  animation: slide-enter-from-bottom 0.5s ease-out; }

.enter-from-top {
  animation: slide-enter-from-top 0.5s ease-out; }

/* Define the slide-up animation */
@keyframes slide-enter-from-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes slide-enter-from-top {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

/* Define the slide-enter animation */
@keyframes slide-leave-from-top {
  0% {
    transform: translateY(0);
    opacity: 0; }
  100% {
    transform: translateY(-100%);
    opacity: 1; } }

@keyframes slide-leave-from-bottom {
  0% {
    transform: translateY(0);
    opacity: 0; }
  100% {
    transform: translateY(100%);
    opacity: 1; } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rocket-motion {
  0% {
    transform: translateY(400%); }
  100% {
    transform: translateY(-100%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Chocolates-Regular";
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #fff; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 9rem; }

.heading-primary--main {
  display: block;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: 2rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  font-family: "LEMONMILK-Medium";
  line-height: 12rem;
  opacity: 1; }

.heading-primary--hide {
  display: block;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: 2rem;
  animation-name: moveInTop;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  font-family: "LEMONMILK-Medium";
  line-height: 12rem;
  opacity: 0;
  display: none; }

.heading-primary--sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 1000;
  letter-spacing: 0.5rem;
  animation: moveInRight 1s ease-out;
  white-space: nowrap;
  text-transform: lowercase;
  line-height: 3rem; }

.heading-primary--red {
  display: block;
  font-weight: 400;
  letter-spacing: 0.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  font-family: "LEMONMILK-Medium";
  color: #fe4d5a;
  font-size: 5rem;
  position: absolute;
  left: 3rem;
  top: 32rem;
  z-index: 5;
  text-shadow: 0.1rem 0.4rem 1.2rem rgba(0, 0, 0, 0.56); }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #092141, #050b17);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-teritiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }

.paragraph:not(:last-child) {
  margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.row {
  max-width: 114rem;
  margin: 0 auto; }

.row:not(:last-child) {
  margin-bottom: 8rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.row [class^="col-"] {
  float: left; }

.row [class^="col-"]:not(:last-child) {
  margin-right: 2rem; }

.row .col-1-of-2 {
  width: calc((100% - 2rem) / 2); }

.row .col-1-of-3 {
  width: calc((100% - 2 * 2rem) / 3); }

.row .col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 2rem) / 3) + 2rem); }

.row .col-1-of-4 {
  width: calc((100% - 3 * 2rem) / 4); }

.row .col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 2rem) / 4) + 2rem); }

.row .col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

.header {
  height: 100vh;
  background: linear-gradient(to bottom, #092141, #050b17);
  background-size: cover;
  background-position: top;
  position: relative; }

@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(9, 33, 65, 0.8), rgba(5, 11, 23, 0.8)), url(../../img/hero.jpg); } }

@media only screen and (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.header__logo {
  font-size: 2.4rem; }

.header__text-box {
  position: relative;
  top: 25rem;
  left: 0;
  z-index: 10; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 5.5rem;
  width: 5.5rem;
  position: fixed;
  top: 2.5rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem; } }

@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem; } }

.navigation__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 2.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#092141, #050b17);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem; } }

@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  display: none;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }

.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #092143;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  display: block;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 2.8rem; }

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block; }

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s; }

.navigation__icon::before {
  top: -0.8rem; }

.navigation__icon::after {
  top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section4 {
  height: 90%;
  width: 100%;
  margin-top: 7%;
  z-index: 20;
  position: relative; }

.section4::before {
  content: "";
  position: absolute;
  /* set the pseudo-element to absolute position */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 2rem;
  background-image: radial-gradient(circle at center, rgba(23, 45, 71, 0.85), rgba(23, 45, 71, 0.85)), url(../../img/skills.jpeg);
  border: solid 0.6rem #dae5fe;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90rem;
  opacity: 0.75; }

.blog-card {
  position: relative;
  width: 30%;
  border: solid 0.4rem #172d47;
  box-sizing: border-box;
  left: 1rem;
  top: 5rem;
  display: inline-block;
  padding: 0;
  margin-left: 1rem;
  margin-top: 1rem;
  height: 30rem;
  background: #172d47; }

.blog-card__thumbnails {
  width: 100%;
  cursor: pointer; }

.bottom-box {
  position: relative;
  background: #172d47;
  color: #fff;
  cursor: pointer; }

.bottom-box__title {
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-color: #ff4d5a;
  text-decoration-line: overline; }

.bottom-box__date {
  text-align: right;
  margin-top: -1rem; }

.bottom-box__description {
  font-size: 1.4rem; }
